:root{
    --primary-color: #dffffd;;
    --secondary-color: #5d0d58;
    --content-color: #810578;
    --highlighted: #184fbc;
    --tertiary-font-color: #ffffff;
    --links: #32a141;
    --links-hover-focus: #0b498c;
    --active: #a02020;
    --font-thickness:400;
    --font-size: 20px;
    --header-padding: 15px;
    --padding-primary:20px;
    --padding-secondary: 10px;
    --transition: all 1s;
    --none: none;
    --center: center;

    --table-border: 1.5px solid #2125ad;
    --button-font-size:16px;
    --button-submit-bg: #2c662c;
    /* --box-shadow:1.5px 1.5px #1f1e1f; */

    --animation-sun: #dcd732;
    --animation-sun-transition50: #a75511;
    --animation-sun-transition75: #cc3f1f;
    --animation-sun-transition100: #314f0d;
    --page-header-footer:flex;


}



*{
    /* defines total width of the element */
    box-sizing: border-box;
}
body{
    /* background-color: aliceblue; */
    color:var(--secondary-color);
    background-color: var(--primary-color) ;
    font-weight: var(--font-thickness);
    font-family: 'Crimson Text', serif;
    font-size: var(--font-size);
    line-height: 1.6;
    /* font-style: italic; */
    text-decoration: var(--none);

}
.page-header{
    display: var(--page-header-footer);
    width: 100%;
    padding: var(--header-padding);
    
}
.page-header__item{
    /* on this order -- flex-grow, flex-shrink, flex-basis */
   flex: 0 1 200px;
   
}
.page-header__item:last-child{
flex-grow: 1;
text-align: right;
}
.navigation-list__item--active{
    text-decoration: var(--none);
}
.navigation-list{
    list-style-type: var(--none);
}
.navigation-list li{
    display: inline-block;
    margin-left: 15px;
}
.navigation-list__item{
    /* transition: var(--transition); */
    position: relative;
    cursor: pointer;
    padding: 5px;
    text-decoration: var(--none);
}
.navigation-list__item:hover, .navigation-list__item:hover{
    cursor: pointer;
    opacity: 0.8;
    text-decoration: var(--none);
}

/* animationo on nav item */


.navigation-list__item::before{
    top: 0px;
    left: 0px;
}
.navigation-list__item::after{
    right: 0px;
    bottom: 0px;
}
.navigation-list__item::before, 
.navigation-list__item::after{
    position: absolute;
    opacity: 0;
    /* width refers width of the border of nav items */
    width: 0%;
    /* height refers thickness of the border of nav items */
    height: 1.5px;   
    content: "";
    background: #26b9c9;
    transition: all 0.3s;
   
    
}
.navigation-list__item:hover::before, .navigation-list__item:hover::after{
opacity: 1;
/* width : border covers the content */
width: 100%;
}

h1{
    text-align: var(--center);
    
}

main p{
    font-family: cursive;
    font-size: larger;
    /* color: rgb(143, 6, 143); */
    color: var(--content-color);
    padding: 0px var(--padding-primary);
}

caption{
    /* padding: var(--padding-primary); */
    font-size: var(--font-size);
}

table{
    
    border: var(--table-border);
    border-collapse: collapse;
    /* Align the table */
    margin: 0 auto; 
    /* text-align: center; */
    /* align-items: center; */
 
 }
th, td{
    border: 1px solid #2125ad;
    /* text-align: var(--center); */
    padding: var(--padding-secondary);
     
}
.about-me{
    margin: 0 auto;
  max-width: 60%;
  font-size: large;
  text-align: center;
}
.about-me_item{
    text-align: center;
    /* margin: 50px 0; */
    margin-top: 15px;
     
}
.button{
    border: var(--none);
    display: inline-block;
    font-family: inherit;
    font-size: var(--button-font-size);
    text-decoration: var(--none);
    background-color: var(--button-submit-bg) ;
    color: var(--tertiary-font-color);
    padding: var(--padding-secondary);
    border-radius: 5px;
    /* border-bottom: 2px solid #1f1e1f; */
    /* box-shadow: var(--box-shadow); */
    box-shadow: 5px 5px 10px #1f1e1f;
    /* transition-duration: 0.2s;
    transition-property: opacity;  */
    transition: opacity 0.2s;    /* shorthand of transition */
}
.button:hover, .button:focus{
    cursor: pointer;
    opacity: 0.8;
}
#about-picture{
    /* margin: 0 350px;
    margin-bottom: 150px; */
    margin: 0 auto;
  width: 80%;
    
}
/* svg{
    height: 6%;
    width: 800px;
} */
@media all and (max-width: 560px){
    .navigation-list{
        margin: 0 auto;; 
        padding: 0;
        font-size: 12px;
        margin-right: -2rem;
      }
      .navigation-list li {
        display: inline-flex;
        padding: 2px;
      }
    .about-me{
        max-width: 90%;
        /* text-align: center; */

    }
}
@media all and (min-width: 560px) and (max-width: 750px){
    .about-me{
        max-width: 90%;
}
}
@media all and (max-width: 750px) {
    .page-header__item:last-child {
      text-align: center;
      margin-right: 2rem;
    }
    .navigation-list__item {
      font-size: 1rem;
      padding: 5px;
      margin: 0.5rem;
    }
    .page-header {
      display: block;
      text-align: center;
      margin: 0;
    }
}
@keyframes color-change{
    0%{
        fill: var(--animation-sun);
        
    }
    50%{
        fill: var(--animation-sun-transition50);
        transform: scale(2,2);
    }
    75%{
        fill: var(--animation-sun-transition75);
    }
    100%{
        fill: var(--animation-sun-transition100);
    }
}
.sun{
    /* animation-duration: 2s;
    animation-name: color-change;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-timing-function: linear; */
    /* shorthand */
    animation: 4s color-change infinite alternate linear;
    
}
@keyframes cloud-move{
    from{
        transform: translate(0,50px);
    }
    to{
        transform: translate(200px, 50px);
    }
}
.cloud-front{
    /* long way */
    /* animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear; */

    /*  shorthand */
    animation: 20s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse{
    from{
        transform: translate(446px, 48px);
    }
    to{
        transform: translate(100px, 48px);
    }
}
.cloud-back{
    animation: 10s cloud-move-reverse infinite alternate linear;
}
.social-media a{
    margin: 0 0.5rem;
 }

.page-footer{
    display: var(--page-header-footer);
    clear: both;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0.5rem;
        /* background-color: #2fd4e9; */
      
}
.page-footer p{
    color: #492a4f;
}