:root{
    --primary-color: #dfd7e1;
    --secondary-color: #5c0856;
    --content-color: #810578;
    --highlighted: #184fbc;
    --tertiary-font-color: #ffffff;
    /* --links: #1e5d2a;
    --hover-focus: #0b498c;
    --active: #a02020; */
    --font-thickness:400;
    --font-size: 20px;
    --padding-primary:20px;
    --padding-secondary: 15px;
    --padding-tertiary: 10px;
    --gap: 10px;
    --none: none;
    --center: center;

    /* --table-border: 2px solid #2125ad;
    --button-font-size:16px;
    --button-submit-bg: #2c662c;
    --box-shadow:1.5px 1.5px #1f1e1f; */

    --page-header-footer:flex;
}

*{
    /* defines total width of the element */
    box-sizing: border-box;
}
body{
    background-color: rgb(226, 241, 255);
    color: var(--secondary-color);
    font-weight: var(--font-thickness);
    font-family: 'Crimson Text', serif;
    font-size: var(--font-size);
    line-height: 1.6;
    /* font-style: italic; */
    text-decoration: var(--none);

}

.page-header{
    display: var(--page-header-footer);
    width: 100%;
    padding: var(--padding-secondary);
    
}
.page-header__item{
    /* on this order -- flex-grow, flex-shrink, flex-basis */
   flex: 0 1 200px;
}
.page-header__item:last-child{
flex-grow: 1;
text-align: right;
}
.navigation-list__item--active{
    text-decoration: var(--none);
}
.navigation-list{
    list-style-type: var(--none);
}
.navigation-list li{
    display: inline-block;
    margin-left: 15px;
}
.navigation-list__item{
    /* transition: var(--transition); */
    position: relative;
    cursor: pointer;
    padding: 5px;
    text-decoration: var(--none);
}
.navigation-list__item:hover, .navigation-list__item:hover{
    cursor: pointer;
    opacity: 0.8;
    text-decoration: var(--none);
}

/* animationo on nav item */


.navigation-list__item::before{
    top: 0px;
    left: 0px;
}
.navigation-list__item::after{
    right: 0px;
    bottom: 0px;
}
.navigation-list__item::before, 
.navigation-list__item::after{
    position: absolute;
    opacity: 0;
    /* width refers width of the border of nav items */
    width: 0%;
    /* height refers thickness of the border of nav items */
    height: 1.5px;   
    content: "";
    background: #c926b3;
    transition: all 0.3s;
   
    
}
.navigation-list__item:hover::before, .navigation-list__item:hover::after{
opacity: 1;
/* width : border covers the content */
width: 100%;
}
h1{
    text-align: var(--center);
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr; */
    /* grid-template-rows: 1 fr; */
    /* grid-template-rows: 300px 300px; */
    grid-gap: var(--gap);
    padding: var(--padding-tertiary);
}
.grid_item{
    background-color: #bcc2cb;
    padding: var(--padding-secondary);
    color: var(--content-color);

}

/* .grid_item:nth-child(1){
    grid-column: span 2;
}
.grid_item:nth-child(3){
    grid-column: 3/3;
    grid-row: 1/4;
} */
.grid_item:last-child{
    /* last child position : should be third column , first row, and end at beginning of the third row*/
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    /* another way to declare */
    /* grid-column: 3 /2;
    grid-row: 2 / 3; */
    /* grid-column: auto;
    grid-row: auto; */
}

.page-footer{
    
    display: var(--page-header-footer);
    clear: both;
    flex-direction: column;
    text-align: var(--center);
    
}
@media all and (max-width: 500px){
    .grid{
        grid-template-columns: 1fr;

    }
      
}
@media all and (min-width: 500px) and (max-width:750px){
    .grid{
        grid-template-columns: 1fr 1fr;
       
    }
}
@media all and (max-width:750px){
    .grid{
        
        grid-gap: var(--gap);
        

    }
    .grid_item:last-child{
        grid-column: auto;
        grid-row: auto;

    }
    h1{
        font-size: smaller;
        
    }
   
}
