/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root{
    /* --links: #1e5d2a;
    --hover-focus: #0b498c;
    --active: #a02020; */

    /* --table-border: 2px solid #2125ad;
    --button-font-size:16px;
    --button-submit-bg: #2c662c;
    --box-shadow:1.5px 1.5px #1f1e1f; */
}

*{
    /* defines total width of the element */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    background-color: rgb(226, 241, 255);
    color: #5c0856;
    font-weight: 400;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    line-height: 1.6;
    /* font-style: italic; */
    text-decoration: none;

}

.page-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 15px;
    
}
.page-header__item{
    /* on this order -- flex-grow, flex-shrink, flex-basis */
   -webkit-box-flex: 0;
       -ms-flex: 0 1 200px;
           flex: 0 1 200px;
}
.page-header__item:last-child{
-webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
text-align: right;
}
.navigation-list__item--active{
    text-decoration: none;
}
.navigation-list{
    list-style-type: none;
}
.navigation-list li{
    display: inline-block;
    margin-left: 15px;
}
.navigation-list__item{
    /* transition: var(--transition); */
    position: relative;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
}
.navigation-list__item:hover{
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
}
.navigation-list__item:hover{
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
}

/* animationo on nav item */


.navigation-list__item::before{
    top: 0px;
    left: 0px;
}
.navigation-list__item::after{
    right: 0px;
    bottom: 0px;
}
.navigation-list__item::before, 
.navigation-list__item::after{
    position: absolute;
    opacity: 0;
    /* width refers width of the border of nav items */
    width: 0%;
    /* height refers thickness of the border of nav items */
    height: 1.5px;   
    content: "";
    background: #c926b3;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
   
    
}
.navigation-list__item:hover::before, .navigation-list__item:hover::after{
opacity: 1;
/* width : border covers the content */
width: 100%;
}
h1{
    text-align: center;
}
.grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr; */
    /* grid-template-rows: 1 fr; */
    /* grid-template-rows: 300px 300px; */
    grid-gap: 10px;
    padding: 10px;
}
.grid_item{
    background-color: #bcc2cb;
    padding: 15px;
    color: #810578;

}

/* .grid_item:nth-child(1){
    grid-column: span 2;
}
.grid_item:nth-child(3){
    grid-column: 3/3;
    grid-row: 1/4;
} */
.grid_item:last-child{
    /* last child position : should be third column , first row, and end at beginning of the third row*/
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 0;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;

    /* another way to declare */
    /* grid-column: 3 /2;
    grid-row: 2 / 3; */
    /* grid-column: auto;
    grid-row: auto; */
}

.page-footer{
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    clear: both;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    
}
@media all and (max-width: 500px){
    .grid{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;

    }
      
}
@media all and (min-width: 500px) and (max-width:750px){
    .grid{
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr;
       
    }
}
@media all and (max-width:750px){
    .grid{
        
        grid-gap: 10px;
        

    }
    .grid_item:last-child{
        grid-column: auto;
        grid-row: auto;

    }
    h1{
        font-size: smaller;
        
    }
   
}